body{
  font-family: Muli, sans-serif;
  height: auto;
  padding-top: 70px;
}
.navbar {
  position: sticky;
  background-color: rgba(247, 246, 244, 0.79);
  box-shadow: 0 2px 5px rgba(8, 8, 8, 0.1);
  z-index: 1020;
  top: 0;
}
.navbar .bi {
  font-size: 1.4rem;
}

.nav-link:hover {
    text-decoration: underline;
  }
  .nav-item{
    padding-left:13px;  
  }
@media (max-width:400px) {
  .navbar-brand img{
    margin-left: 100%;
  }
  
}
  .card-text{
    
    text-transform: capitalize
  }
  .row{
    float: left;
  }
  .card{
    height: 400px;
    margin-top: 6px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
  }
  .card-text small{
    text-transform: uppercase;
    font-weight:normal;
    font-size: .6em;
  }
  card:hover{
    transform: rotate(2deg);
  }
  .card-title:hover{
    text-decoration: underline;
  }
@media (max-width:430) {
    .card{
      width: 10em;
    }
}
#emailbtn{
  padding-left: 18em;
}
.sticky-top{
  position: sticky;
  bottom: 0;
  top:0;
  padding: 5px;
  right: 0;
  margin-left: auto;
  width: fit-content;
}
a{
  text-decoration: none;
  color: rgb(55, 53, 53);
}
@media (max-width:400px){
  .sticky-top img{
    width: 20px;
  }
}
